*.o
*.pyc
apps/tetrapol_build
apps/tetrapol_dump
build/
CMakeCache.txt
CMakeFiles
cmake_install.cmake
CTestTestfile.cmake
demod/tetrapol_tx.py
lib/libtetrapol.a
lib/test_bit_utils
lib/test_data_frame
lib/test_frame
lib/test_hdlc_frame
lib/test_phys_ch
lib/test_timer
Makefile
Testing/
